@inherits NavLink
@inject NavigationManager NavigationManager

<li>
    <NavLink href="@To" class="@CssClass">@Text</NavLink>
@*     <a href="@To" class="@CssClass">
        @Text
    </a> *@
</li>

@code {
    [Parameter]
    public string To { get; set; }

    [Parameter]
    public string Text { get; set; }

    private string CssClass => 
        NavigationManager.Uri.Contains(To) ? 
            "block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
            :
            "block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0";
}
